name: Check warnings

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request_target]

jobs:
  build_repo:
    name: Build repo
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [7.1] # [7.1, 5.3]

    steps:
    - name: Checkout reposistory
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Check for warnings
      # Passing CC="@:" prevents actually compiling the C files
      # Passing an empty MIPS_BINUTILS_PREFIX bypasses the check for having mips binutils installed
      run: make -j $(nproc) WERROR=1 VERSION=${{ matrix.version }} CC="@:" MIPS_BINUTILS_PREFIX=
